body{
	background-image: url('../img/8.jpg');
}
p{
	color:white;
}
h1{
	color:white;
}
a{
	color: white;
}
#cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: arial;
    cursor: pointer;

}
.dem{
	background-image: url('../img/07.gif');
	padding: 40px;
    border-radius: 10px;
    width:300px;
    cursor: pointer;

}
.cadas:after {
    content: "";
    width: 150px;
    height: 1px;
    text-decoration: none;
    display: block;
    margin-top: -17px;
    margin-left: -5px;
}
.conta a{
    text-decoration: none;
    
}
