body{
    background-color:black;
}
a{
    color:white;
}
#login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: arial;
    cursor: pointer;
}
.botão{
    padding-bottom: 50px;
    cursor: pointer;
}
.demin {
    background-image: url('../img/111.png');
    padding: 40px;
    border-radius: 10px;
    width:280px;
    cursor: pointer;
}
.demin-class{
    padding-bottom: 50px;
    cursor: pointer;
}
.demin-class h2{
    color: white;
}
.demin-class:after {
	content: "";
    width: 70px;
    height: 1px;
    background-color: red;
    display: block;
    margin-top: -17px;
    margin-left: -5px;

}
.demin-content a {
    color: white;
    font-size: 12px;
}
.bord button{
	border: 0px white;
    border-style: solid;
    cursor: pointer;
}